<!DOCTYPE html>
<html style="-webkit-font-smoothing: auto; font-size: 0.875em; line-height: 1.6; font-family: sans-serif;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SB-Prüfung {{page}}</title>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bulma/0.9.4/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="content">
                <h2>
                    SB-Prüfung {{page}}
                </h2>
                {% for (section, votes) in voting_sections %}
                <h3>{{section}}</h3>

                {% for (section, votes) in votes %}
                <h4>{{section}}</h4>

                <ol>
                    {% for vote in votes %}
                    <li style="margin-top: 0.0em; margin-bottom: 0.1em;">
                        {% match vote %}
                        {% when UserOrError::UserPermitted with {user, url} %}
                        ✅ <em>{{user}}</em> - Stimme <a href="{{url}}">geprüft</a>.
                        {% when UserOrError::UserNotPermitted with {user, url} %}
                        ❌ <em>{{user}}</em> ist <a href="{{url}}">nicht stimmberechtigt</a>!
                        {% when UserOrError::Duplicate with {user, other_section, other_no} %}
                        ❌ <em>{{user}}</em> hat schon unter {{other_section}} - #{{other_no}} abgestimmt!
                        {% when UserOrError::NoUserLink %}
                        ❌ Kein Benutzer- oder Benutzerdiskussionslink gefunden!
                        {% when UserOrError::MultipleUserLinks with (user1, user2) %}
                        ❌ Mehrere Benutzer-/Benutzerdiskussionslinks: <em>{{user1}}</em>, <em>{{user2}}</em>!
                        {% when UserOrError::DotDotDot %}
                        …
                        {% when UserOrError::Empty %}
                        {% when UserUnchecked %}
                        ❌ Internal error!</a>!
                        {% endmatch %}
                    </li>
                    {% endfor %}
                </ol>
                {% endfor %}
                {% endfor %}
            </div>
            <div class="block">
                {% if sg %}SG-{% endif %}Stimmberechtigung und Doppelstimmen wurden geprüft.
            </div>
            <div class="block has-text-centered">
                <p class="mt-5">
                    Tool von <a href="https://de.wikipedia.org/wiki/Benutzer:Count_Count">Count Count</a>.
                    Veröffentlicht
                    unter GPL-3.0 auf <a href="https://gitlab.wikimedia.org/countcount/dewiki-votecheck">WMF Gitlab</a>.
                </p>
            </div>
        </div>
    </section>
</body>

</html>
